#footer-basic {
    margin-top: 27px;
    background-color: #252330;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 -9px 32px 0 rgba(0, 0, 0, 0.37);
}

#footer-basic .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-basic p {
    margin: 10px 0;
}

#footer-basic .footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

#footer-basic .footer-links li {
    display: inline;
}

#footer-basic .footer-links li a {
    color: #F5F9F8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#footer-basic .footer-links li a:hover {
    color: #e8704b;
}
