#header{
    padding: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #252330;
}

#header-logo img{
    width: 60px;
}

#header-text{
    font-size: 1.2em;
    color: aliceblue;
    padding-left: 335px;
}

#header-nav a{
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 15px;
    color: aliceblue;
}